﻿@model ReportService.Models.ReportTaskVM
</form>
<div class="modal fade" id="paramModal_@(Model.ReportKind.Id)">
    <div class="modal-dialog modal-change">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>         
                <h5 class="modal-title">Отметьте нужные параметры</h5>       
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    @using (Html.BeginForm("CreateChange", "Home", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => Model.ReportTask.Id)
                        @Html.HiddenFor(m => Model.ReportKind.Id)
                        <div id="change-wrapper">
                            <div id="reports">
                                @foreach (var row in Model.ReportsSubChanges.Split(3))
                                {
                                    <div class="row">
                                       @for (int i = 0; i < Model.ReportsSubChanges.Count; i++)
                                       {
                                           if (Model.ReportsSubChanges[i].ParamType == "subchange")
                                           {                                               
                                            <div class="col-md-4 col-xs-12 col-sm-4 reportsubchange">
                                                <div class="checkbox checkbox-info">
                                                    @Html.CheckBoxFor(model => model.ReportsSubChanges[i].IsChecked, new
                                                    {
                                                        @id = @Model.ReportsSubChanges[i].Id,
                                                        @onchange = "toggleChangeReport(this)",
                                                        @class = "myReportCheckBox"
                                                    })
                                                    <label for="@Model.ReportsSubChanges[i].Id">@Model.ReportsSubChanges[i].Name</label>
                                                    @Html.HiddenFor(model => model.ReportsSubChanges[i].Id)
                                                </div>
                                           </div>
                                           }
                                       }                                        
                                    </div>
                                }
                            </div>                            
                            <hr />                            
                            <div id="cities">
                                <div class="row">
                                    <div class="col-md-4 col-xs-6 col-sm-4 city">
                                        <div class="category checkbox checkbox-warning">
                                            <input type="checkbox" class = "myCheckBox" id="category_1" name="category_1" value="category_1" checked onchange="toggleCheckbox(this)">
                                            <label for="category_1">Категория 1 (@Model.City.Where(c => c.CategoryId == 1).Count())</label>
                                        </div>
                                        @for (int i = 0; i < Model.City.Count; i++)
                                        {
                                            if (Model.City[i].CategoryId == 1)
                                            {
                                                <div class="checkbox checkbox-info marg">
                                                    @Html.CheckBoxFor(model => model.City[i].IsChecked, new { @id = @Model.City[i].Id, @class = "city_cat_1 myCheckBox", @onclick = "SetButton()" })
                                                    <label for="@Model.City[i].Id">@Model.City[i].Name</label>
                                                    @Html.HiddenFor(model => model.City[i].Id)
                                                </div>
                                                    <br />
                                            }
                                        }
                                    </div>
                                    <div class="col-md-4 col-xs-6 col-sm-4 city">
                                        <div class="category checkbox checkbox-warning">
                                            <input type="checkbox" class ="myCheckBox" id="category_2" name="category_2" value="category_2" checked onchange="toggleCheckbox(this)">
                                            <label for="category_2">Категория 2  (@Model.City.Where(c => c.CategoryId == 2).Count())</label>
                                        </div>
                                        @for (int i = 0; i < Model.City.Count; i++)
                                        {
                                            if (Model.City[i].CategoryId == 2)
                                            {
                                                <div class="checkbox checkbox-info marg">
                                                    @Html.CheckBoxFor(model => model.City[i].IsChecked, new { @id = @Model.City[i].Id, @class = "city_cat_2 myCheckBox", @onclick = "SetButton()" })
                                                    <label for="@Model.City[i].Id">@Model.City[i].Name</label>
                                                    @Html.HiddenFor(model => model.City[i].Id)
                                                </div>
                                                <br />
                                            }
                                        }
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-4 city">
                                        <div class="category checkbox checkbox-warning">
                                            <input type="checkbox" class="myCheckBox" id="category_3" name="category_3" value="category_3" checked onchange="toggleCheckbox(this)">
                                            <label for="category_3">Категория 3  (@Model.City.Where(c => c.CategoryId == 3).Count())</label>
                                        </div>
                                        @for (int i = 0; i < Model.City.Count; i++)
                                        {
                                            if (Model.City[i].CategoryId == 3)
                                            {
                                                <div class="checkbox checkbox-info marg">
                                                    @Html.CheckBoxFor(model => model.City[i].IsChecked, new { @id = @Model.City[i].Id, @class = "city_cat_3 myCheckBox", @onclick = "SetButton()" })
                                                    <label for="@Model.City[i].Id">@Model.City[i].Name</label>
                                                    @Html.HiddenFor(model => model.City[i].Id)
                                                </div>
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>                                                
                        <button type="button" class="btn btn-primary cancel-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Отмена</span></button>
                        <button class="btn btn-primary change-button" type="submit">Отправить</button>
                        <button class="btn btn-primary smart-button" type="submit" formaction='@Url.Action("CreateSmartChange", "Home")'>Умный</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>