﻿<div class="container">
    <div class="row">
        <div class='col-sm-6'>
<div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
        </div>
    </div>
</div>

