﻿@model List<ReportService.Models.ReportTaskVM>

@{
    ViewBag.Title = "Сервис генерации отчетов";
}

<div>
    <div id="reporttask">
        @Html.Partial("ReportTaskPartialView", Model)
    </div>
</div>


@section Scripts
{
    <script src="/signalr/hubs"></script>           
    <script src="~/Scripts/SignalR.StockTicker.js"></script>        
    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/Downloader.js"></script>
}