﻿@model ReportService.Models.ReportTaskVM
</form>
<div class="modal fade" id="paramModal_@(Model.ReportKind.Id)">
    <div class="modal-dialog modal-admin modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Введите параметр отчета</h5>
            </div>
            <div class="modal-body form-inline" id="reportkind_@(Model.ReportKind.Id)">
                @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form-inline", @id = string.Concat("reportkind_", @Model.ReportKind.Id.ToString()) }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => Model.ReportTask.Id)
                    @Html.HiddenFor(m => Model.ReportKind.Id)
                    if (Model.ReportKind.ParamType == "category")
                    {
                        @Html.DropDownListFor(m => m.ReportTask.ParamValue, Model.Categories, new { @class = "selectpicker", @data_width = "auto" })
                    }
                    else if (Model.ReportKind.ParamType == "city")
                    {
                        if (Model.ReportKind.Id == 20)
                        {
                            @Html.DropDownListFor(m => m.ReportTask.ParamValue, Model.CitiesVNR, new { @class = "selectpicker", @data_width = "auto" })
                        }
                        else if (Model.ReportKind.Id == 22)
                        {
                            @Html.DropDownListFor(m => m.ReportTask.ParamValue, Model.CitiesPiter, new { @class = "selectpicker", @data_width = "auto" })
                        }
                        else if (Model.ReportKind.Id == 1023)
                        {
                            @Html.DropDownListFor(m => m.ReportTask.ParamValue, Model.CitiesCheckAnalytics, new { @class = "selectpicker", @data_width = "auto" })
                        }
                    }
                    else if (Model.ReportKind.ParamType == "city,date")
                    {
                        if (Model.ReportKind.Id == 1025)
                        {
                            @Html.DropDownListFor(m => m.Citi, Model.CitiesCheckAnalytics, new { @class = "selectpicker", @data_width = "auto" })
                            <br />
                            <br />
                            @Html.TextBoxFor(m => m.ReportTask.ParamValue,
                                                                new { @type = "date", @id = string.Concat("reportkind_", @Model.ReportKind.Id.ToString()), @class = "form-control", @name = "param", @style ="width: 186px;" })
                        }
                    }
                    else if (Model.ReportKind.ParamType == "date,date")
                    {
                        @Html.TextBoxFor(m => m.ReportTask.ParamValue,
                            new { @type = "date",
                                @id = string.Concat("reportkind_", @Model.ReportKind.Id.ToString()),
                                @class = "form-control",
                                @name = "param",
                                @style ="width: 186px;",
                                required = "required",
                                @Value = @ViewBag.LastSaturday})
                        <br />
                        <br />
                        @Html.TextBoxFor(m => m.Param,
                            new { @type = "date",
                                @id = string.Concat("reportkind_", @Model.ReportKind.Id.ToString()),
                                @class = "form-control",
                                @name = "param",
                                @style ="width: 186px;",
                                required = "required",
                                @Value = @ViewBag.Friday})
                    }
                    else if (Model.ReportKind.ParamType == "day")
                    {

                    }
                    else if (Model.ReportKind.ParamType == "change")
                    {

                    }
                    //else if (Model.ReportKind.ParamType == "turnover")
                    //{

                    //}
                    else
                    {
                        if (Model.ReportKind.Id == 1028)
                        {
                            @Html.TextBoxFor(m => Model.ReportTask.ParamValue,
                                                                     new {
                                                                         @type = @Model.ReportKind.ParamType,
                                                                         @id = string.Concat("reportkind_",
                                                                         @Model.ReportKind.Id.ToString()),
                                                                         @class = "form-control",
                                                                         @name = "param",
                                                                         @Value = @ViewBag.TopProductDate})
                        }
                        else if (Model.ReportKind.Id == 1031)
                        {
                            @Html.TextBoxFor(m => Model.ReportTask.ParamValue,
                                                             new {
                                                                 @type = @Model.ReportKind.ParamType,
                                                                 @id = string.Concat("reportkind_",
                                                                 @Model.ReportKind.Id.ToString()),
                                                                 @class = "form-control",
                                                                 @name = "param",
                                                                 @Value = @ViewBag.Yesterday})
                        }
                        else
                        {
                            @Html.TextBoxFor(m => Model.ReportTask.ParamValue,
                                                             new { @type = @Model.ReportKind.ParamType, @id = string.Concat("reportkind_", @Model.ReportKind.Id.ToString()), @class = "form-control", @name = "param" })
                        }
                    }
                    <button class="btn btn-primary" type="submit" data-assigned-id="@Model.ReportKind.Id" id="reportkind_@(Model.ReportKind.Id)">Отправить</button>
                }
            </div>
        </div>
    </div>
</div>