﻿@using ReportService.DAL;
@using ReportService.Models;
@model List<ReportService.Models.ReportTaskVM>

@if (ViewBag.Change == "disabled")
{
    <div class="notification">
        <p>Пожалуйста, подождите, в настоящее время запущен обмен</p>
    </div>
}

@foreach (var row in Model.ToList().Split(2))
{
    <div class="row">
        @foreach (var reportTaskVM in row)
        { 
            <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="reporttask-item">
                    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => reportTaskVM.ReportTask.Id)
                        @Html.HiddenFor(m => reportTaskVM.ReportKind.Id)

                        if (reportTaskVM.ReportKind.RequiredParam)
                        {
                            int kindid = reportTaskVM.ReportKind.Id;
                            <button class="btn btn-primary @reportTaskVM.ClassValue modalbutton" data-toggle="modal" data-target="#paramModal_@(reportTaskVM.ReportKind.Id)" 
                                    id="reportkind_@(reportTaskVM.ReportKind.Id)" @ViewBag.Change>@reportTaskVM.ReportKind.Name</button>
                            <div id="modalWrapper">
                                @if (reportTaskVM.ReportKind.Id == 13)
                                {
                                    @Html.Partial("ChangePartialView", reportTaskVM)
                                }
                                else if (reportTaskVM.ReportKind.Id == 1029)
                                {                                    
                                    @Html.Partial("TurnoverPartialView", reportTaskVM)
                                }
                                else
                                {
                                    @Html.Partial("ModalDialogDatePartialView", reportTaskVM)
                                }
                            </div>
                        }                        
                        else
                        { 
                            <button class="btn btn-primary @reportTaskVM.ClassValue" type="submit" id="reportkind_@(reportTaskVM.ReportKind.Id)" @ViewBag.Change>@reportTaskVM.ReportKind.Name</button>
                        }

                        if (!String.IsNullOrWhiteSpace(reportTaskVM.StatusMessage) && reportTaskVM != null && reportTaskVM.ReportTask.ReportResultAsText == null)
                        {
                            <p>
                                <span class="statusMessage"> @reportTaskVM.StatusMessage</span>
                            </p>
                        }                        
                        if (reportTaskVM.ReportTask != null && !String.IsNullOrWhiteSpace(reportTaskVM.ReportTask.LinkToReportFile))
                        {
                            <p>
                                <span class="linkToReportFile">
                                        @Html.ActionLink("Загрузить отчет", "DownloadReportFileForDesktop", "Home", new { Id = reportTaskVM.ReportTask.Id }, new { id = @reportTaskVM.ReportTask.Id, @target = "_blank" })
                                </span>
                                @if (reportTaskVM.ReportTask.ReportResultAsText == null && !reportTaskVM.ReportTask.IsDownloaded)
                                {
                                    <script>                   
                                        DownloadReport('@reportTaskVM.ReportTask.Id');
                                    </script>
                                }
                            </p>   
                        }
                        if (reportTaskVM.ReportTask != null &&reportTaskVM.ReportTask.ReportResultAsText != null)
                        {
                            int resultLenght = reportTaskVM.ReportTask.ReportResultAsText.Length;
                            if (resultLenght >= 30)
                            {
                                <p>@reportTaskVM.ReportTask.ReportResultAsText.Substring(0, 30)..
                                   @Html.ActionLink("Далее", "OpenResultAsText", "Home", new { Id = reportTaskVM.ReportTask.Id }, new { id = @reportTaskVM.ReportTask.Id, target = "_blank" })
                                    
                                </p>
                            }
                            else
                            {
                                <p>@reportTaskVM.ReportTask.ReportResultAsText.Substring(0, resultLenght) </p>
                            }

                        }
                    }
                </div>
            </div>
        } 
    </div>           
}