﻿@model ReportService.Models.ReportTaskVM
</form>
<div class="modal fade" id="paramModal_@(Model.ReportKind.Id)">
    <div class="modal-dialog modal-change">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>         
                <h5 class="modal-title">Отметьте нужные параметры</h5>       
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div>
                        @using (Html.BeginForm("CreateTurnover", "Home", FormMethod.Post))
                        {
                            @Html.HiddenFor(m => Model.ReportTask.Id)
                            @Html.HiddenFor(m => Model.ReportKind.Id)
                            <div id="nomenclature-wrapper">
                                <div id="dates">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6 col-sm-6 turnover-date">
                                            <div class="checkbox checkbox-info">
                                                @Html.TextBoxFor(m => m.ReportTask.ParamValue,
                                                    new
                                                    {
                                                        @type = "date", @id = string.Concat("reportkind_", @Model.ReportKind.Id.ToString()),
                                                        @class = "form-control", @name = "param",
                                                        required = "required",
                                                        @Value = @ViewBag.LastSaturday
                                                    })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 turnover-date">
                                            <div class="checkbox checkbox-info">
                                                @Html.TextBoxFor(m => m.Param,
                                                    new
                                                    {
                                                        @type = "date", @id = string.Concat("reportkind_", @Model.ReportKind.Id.ToString()),
                                                        @class = "form-control", @name = "param",
                                                        required = "required",
                                                        @Value = @ViewBag.Friday
                                                    })
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                                <input type="text" id="Search" placeholder="Поиск" class="form-control" onkeyup="searchNomenclatures()"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id ="nomenclatures">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6 col-sm-6 city">
                                            <div class="category checkbox checkbox-warning">
                                                <input type="checkbox" class="myCheckBox" id="n_category_1" name="n_category_1" value="n_category_1" @*checked*@ onchange="n_toggleCheckbox(this)">
                                                <label for="n_category_1" class="nomenclature-count_cat1">ВРН (@Model.Nomenclatures.Where(n => n.Category == 1).Count())</label>
                                            </div>
                                            @for (int i = 0; i < Model.Nomenclatures.Count; i++)
                                            {
                                                if (Model.Nomenclatures[i].Category == 1)
                                                {
                                                    <div class="checkbox checkbox-info marg nomenclature-item">
                                                        @Html.CheckBoxFor(model => model.Nomenclatures[i].IsChecked, new
                                                        {
                                                            @id = @Model.Nomenclatures[i].Id,
                                                            @class = "n_cat_1 myCheckBox n_cat", @onclick = "SetButtons()"
                                                        })
                                                        <label for="@Model.Nomenclatures[i].Id">@Model.Nomenclatures[i].Name</label>
                                                        @Html.HiddenFor(model => model.Nomenclatures[i].NomenclatureId)
                                                    </div>                                                    
                                                }
                                            }
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 city">
                                            <div class="category checkbox checkbox-warning">
                                                <input type="checkbox" class="myCheckBox" id="n_category_2" name="n_category_2" value="n_category_2" @*checked*@ onchange="n_toggleCheckbox(this)">
                                                <label for="n_category_2" class="nomenclature-count_cat2">СПБ (@Model.Nomenclatures.Where(n => n.Category == 2).Count())</label>
                                            </div>
                                            @for (int i = 0; i < Model.Nomenclatures.Count; i++)
                                            {
                                                if (Model.Nomenclatures[i].Category == 2)
                                                {
                                                    <div class="checkbox checkbox-info marg nomenclature-item">
                                                        @Html.CheckBoxFor(model => model.Nomenclatures[i].IsChecked, new
                                                        {
                                                            @id = @Model.Nomenclatures[i].Id,
                                                            @class = "n_cat_2 myCheckBox n_cat", @onclick = "SetButtons()"
                                                        })
                                                        <label for="@Model.Nomenclatures[i].Id">@Model.Nomenclatures[i].Name</label>
                                                        @Html.HiddenFor(model => model.Nomenclatures[i].NomenclatureId)                                                        
                                                    </div>                                                    
                                                }
                                            }
                                        </div>      
                                    </div>
                                </div>
                            </div>
                            <div class="form-buttons">
                                <button type="button" class="btn btn-primary cancel-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Отмена</span></button>
                                <button class="btn btn-primary change-button" type="submit" disabled="true">Отправить</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>