﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: visible;    
}

#nomenclatures {
    max-height: calc(-200px + 70vh);
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 30px;
}

#cities {
    max-height: calc(-200px + 70vh);
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 30px;
}

.form-buttons {
    margin-top: 45px;
}

.checkbox.checkbox-info.marg.nomenclature-item {
    margin-bottom: 15px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.form-group {
    margin-bottom: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;      
    margin-bottom: 10px; 
}

.navbar-default .navbar-brand {
    padding: 15px 15px 0 15px;
}

/*.body-content {
    margin-top: -25px;
}*/

#reporttask {
    margin-top: 45px;
}

/*.reporttask-item {
    margin-bottom: -20px;
}*/

.btn-primary {
    width: 150px;    
    margin-bottom: 5px;    
}

.btn {
    padding: 6px;
}

button.big {
    padding: 20px 6px;
}

p {
    margin-bottom: 0px;
    padding-left: 5px;
}

p:last-child {
    margin-bottom: 5px;
}

.notification {
    color: #FA5882;
    font-size: 12px;
    margin-left: -2px;
}

.result-as-text {
    margin-top: 30px;
}

.turnover-date {
    padding: 0px;
    margin-top: -10px;
    margin-left: -5px;
}


.modal-body .btn-primary {
    width: auto;
    margin-left: 15px;
    margin-bottom: 0px;
}

body .modal-admin {   
    width: 350px;       
}

body .modal-change {   
   /* width: auto;       */
}

.modal-header {
    padding:5px 15px;    
 }

.form-control {
    width: auto;
    float: left;
}
    
.none {
    display: none;
}

.visible {
    display: block;
}

.category {
    margin-bottom: 15px;
}

.category label {    
    font-weight: 550;
}

#change-wrapper, nomenclature-wrapper {
    padding-bottom: 30px;
}

#nomenclature-search {
    width: 160px;
    margin-bottom: 10px;
}

.city {
    margin-bottom: 30px;
}

.change-button {
    float: right;
    margin-top: -35px;
    margin-right: 80px; 
    width: 140px;
}

.cancel-button {
    float: right;
    margin-top: -35px;
    margin-right: 185px; 
    width: 140px;
}

.smart-button {
    float: right;    
    margin-top: -35px;
    width: 140px;
}

.marg {
    margin-top: 0px;
    margin-bottom: -10px;
}

.reportsubchange {
    margin-bottom: -10px;
}